

body {
  background: linear-gradient(90deg, rgba(42,37,54,1) 0%, rgba(7,7,8,1) 48%, rgba(6,6,6,1) 100%);
}

.main-page-background {
  background-color: #0a0519;
  border-radius: 20px;
  margin: auto 5rem;
}


/* Navbar */
.logo {
  width: 3em;
  padding-bottom: .6em;
  padding-right: .4em;
}

nav.navbar {
  background-color: #100c1c;
  box-shadow: 0 2px 4px 0 #2a2538;
  padding: .4rem 1rem .2rem 2rem;
}

a, a:link, a:hover, a:active, a:visited {
  color:  #d0de63;;
  font-size: small ;
  text-decoration: none;
}

.nav-link:hover {
  /* background-color: #d0de63; */
  padding: .4rem .5rem .2rem .5rem;
  /* border-radius: 8px; */
  /* font-weight: lighter; */
}


/* Buttons */
.btn {
  text-transform: lowercase;
}


/* Footer */
h2.nav-item {
  font-size: medium ;
  color: rgb(191, 184, 184);
}

li.nav {
  font-weight: lighter;
}

li.nav:hover {
    background-color: #d0de63;
    border-radius: 8px;
}

.justify-content-center {
  font-size: large ;
  color: rgb(184, 179, 179);
}

.footer-copyright{
  font-size: x-small ;
  color: white;
  font-weight: lighter;
}


/* Main */
.display-7 {
  font-size: xx-large ;
  color: white;
  font-weight: lighter;
}


/* list page text */
.text-white {
  font-size: small ;
  font-weight: lighter;
}


/* log-in sign-up  */
.login-signup {
  background-color: #0c0912;
  border-radius: 20px;
  margin: auto 10rem;
  font-weight: lighter;
}
